@page
@model ExternalLoginsModel
@{
    ViewData["Title"] = "Manage your external logins";
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

<link rel="stylesheet" href="~/lib/SocialLogin/SocialLogin.css" asp-append-version="true" async />

<partial name="_StatusMessage" for="StatusMessage" />
@if (Model.CurrentLogins?.Count > 0)
{
    <h4>Registered Logins</h4>
    <table class="table">
        <tbody>
            @foreach (var login in Model.CurrentLogins)
            {
                <tr>
                    <td id="@($"login-provider-{login.LoginProvider}")">
                    @login.ProviderDisplayName</td>
                    <td>
                        @if (Model.ShowRemoveButton)
                        {
                            

                            <form id="@($"remove-login-{login.LoginProvider}")" asp-page-handler="RemoveLogin" method="post">
                                <div>
                                    <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                    <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                    <button type="submit" class="btn btn-danger" title="Remove this @login.ProviderDisplayName login from your account">Remove</button>
                                </div>
                            </form>
                        }
                        else
                        {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.OtherLogins?.Count > 0)
{
    <h4>Add another service to log in.</h4>
    <hr />
    <form id="link-login-form" asp-page-handler="LinkLogin" method="post" class="form-horizontal">
        <div id="socialLoginList">
            <p>
                @foreach (var provider in Model.OtherLogins)
                {
                    var btn = "";
                    var icon = "";
                    switch (provider.Name)
                    {
                        case "Facebook":
                            btn = "btn-primary";
                            icon = "fa-facebook-f";
                            break;  // Always break each case
                        case "Google":
                            btn = "btn-danger";
                            icon = "fa-google";
                            break;
                        default:
                            break;
                    }

                <button id="@($"link-login-button-{provider.Name}")" type="submit" class="w-100 text-left btn @btn mb-3" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                    <i class="fab @icon mr-3"></i><b>@provider.DisplayName</b>
                </button>
                }
            </p>
        </div>
    </form>
}
